.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        span {
            margin-left: 5px;
            display: inline-block;
            letter-spacing: 2px;
            color: rgb(73, 157, 231);
        }
    }
}